html, body {
    background-color: #56baed;
    font-family: sans-serif;
}

label {
    align-self: center;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    display: inline-block;
}
.dayspan{

}
.hourspan{

}
.hider{
    display: none;
}

input.notValid {
    border: 1px solid red;
}

#background {
    background-color: white;
    margin: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;
}

/* header */
header {
    display: flex;
    border-bottom: 1px solid #dce8f1;
    padding: 30px;
    margin-bottom: 5px;
    align-items: center;
}

.header-column {
    width: 33.33%;
}

.right-column {
    float: right;
}

.middle-column {
    text-align: center;
}

.left-column {
    display: inline-flex;
    float: left;
    text-align: center;
    align-items: center;
}

.header-label {
    padding-right: 8px;
    font-size: 22px;
}

.upload-section {
}

.username-logged-in {
}

.margin-left {
    margin-left: 10px;
}


/* Tabs */
.tabs-container {
    box-shadow: 0 4px 16px -4px #56baed;
}
.tabs {
    overflow: hidden;
    border: 1px solid #20a6ea;
    background-color: #17b2f3;
    border-radius: 6px 6px 0 0;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

.tabs button:hover {
    background-color: #20a6ea;
}

.tabs button:active {
    background-color: #1389c4;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #def6ff;
    border-top: none;
}


/* Information tabs */

.tabs-content-display {
    display: block;
}

.tabs-counter-container {
    margin: 5px;
}

/* unnamed yet */
.body-column {
    width: 50%;
}

/* Best solution table */


/*General styles*/
.button {
    background-color: #56baed;
    border: 2px solid #56baed;
    color: white;
    padding: 8px 30px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 2px 6px 0 rgba(95,186,233,0.6);
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #5AF;
    transition-duration: 0.15s;
}

.button:active {
    background-color: #4ad;
    color: white;
}

.button:disabled {
    background-color: #d1dfe7;
    border: 2px solid #d1dfe7;
    color: white;
    box-shadow: 0 2px 6px 0 rgba(227, 239, 246, 0.6);
    cursor: default;
}

.simple-blue-button {
    float: right;
    font-size: 18px;
    color: #74b3ea;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}

.underline-hover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underline-hover:hover {
    color: #0d0d0d;
}

.underline-hover:hover:after {
    width: 100%;
}