html, body {
    background-color: #56baed;
    font-family: sans-serif;
}

aside {
    float: right;
    display: inline-block;
}

td {
    color: black;
    padding: 5px;
}

th {
    color: white;
    padding: 5px;
    padding-bottom: 15px;
    border-bottom: 3px solid #20a6ea;
}

table {
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
    background-color: #17b2f3;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 4px 16px -4px #56baed;
    /*box-shadow: 0 2px 6px 4px rgba(86,186,237, 0.4);*/
    border-bottom: 3px solid #20a6ea;
}

#main {
    background-color: white;
    padding: 10px;
    margin: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*Top site style: header-container and his children*/
#header-container {
    border-bottom: 2px solid #dce8f1;
    padding-bottom: 5px;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px -14px #56baed;
}

#top-header {
    border-bottom: 1px solid #dce8f1;
    padding: 20px;
    margin-bottom: 5px;
}

#main-top-header {
    display: inline-block;
}

.welcoming {
    font-size: 22px;
}

.username-logged-in {
    font-size: 18px;
}

.logout-panel {
    display: inline-block;
    float: right;
}

.hide-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


/*Main content styles: center-container and his children*/
#center-container {
    display: flex;
}

#table-container {
    display: inline-block;
    width: 85%;
    padding-right: 1.5%;
}

#side-menu {
    display: inline-block;
    width: 15%;
    float: right;
}

.users-information {
    color: white;
    background-color: #17b2f3;
    padding: 5px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 4px 16px -4px #56baed;
    border-bottom: 3px solid #20a6ea;
    text-align: center;
}

#users-list {
    margin: 10px 0 4px 0;
}

.user {
    text-align: center;
    color: black;
    background-color: white;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px white;
    transition: 0.2s;
    margin: 6px;
}

.user:hover {
    background-color: #E3F5FD;
    box-shadow: 0 0 3px #E3F5FD;
}

.user:active {
    background-color: #C7ECFC;
    box-shadow: 0 0 3px #C7ECFC;
}

.user-name {
    font-size: 18px;
    cursor: default;
}

/*General styles*/
.button {
    background-color: #56baed;
    border: 2px solid #56baed;
    color: white;
    padding: 8px 30px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 2px 6px 0 rgba(95,186,233,0.6);
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #5AF;
    transition-duration: 0.15s;
}

.button:active {
    background-color: #4ad;
    color: white;
}

.logout-button {
    font-size: 18px;
    color: #74b3ea;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}

.underline-hover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underline-hover:hover {
    color: #0d0d0d;
}

.underline-hover:hover:after{
    width: 100%;
}